<div class="d-flex justify-content">
    <div class="col-12 col-lg-5 mx-auto">
        <main class="form-signin">
            <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="on">
                <div class="text-center mb-4">
                    <h3 class="mb-3 font-weight-normal">
                        Login
                    </h3>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class=" form-control" id="email" placeholder="Email">
                    <label for="email" class="text-center">Email address</label>
                    <span class="text-danger mx-1" *ngIf="submitted &&
                    loginForm.get('email')?.hasError('required')">Email is required</span>
                    <span class="text-danger mx-1" *ngIf="submitted &&
                    loginForm.get('email')?.hasError('pattern')">Email is not valid</span>
                </div>

                <div class="form-floating mb-3">
                    <input type="password" class=" form-control" id="password" placeholder="password">
                    <label for="password" class="text-center">password</label>
                </div>

                <div class="form-floating" *ngIf="errorMessages.length > 0">
                    <app-validation-messages [errorMessages]="errorMessages">
                    </app-validation-messages>
                </div>

                <div class="d-grid mt-4 px-1">
                    <button class="btn btn-info btn-lg" type="submit">Log In</button>
                </div>

                <div class="mt-4 text-center">
                    <button class="btn btn-link" type="submit">Forget username or password</button>
                </div>
            </form>
        </main>
    </div>
</div>